*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Python # 
*.py[cod] 
*$py.class 

pip-log.txt 
pip-delete-this-directory.txt 

htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

.vscode/ 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
